@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  /* min-height: 100vh; */
  background: url(./assets/bg-desktop.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ff7979;
}

input:focus {
  outline: none;
}
